workflows/commercial/sales-pipeline/Deal_Stage_Notifier.json
{
  "name": "Deal Stage Notifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hubspot-deal-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "HubSpot Deal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "deal-webhook"
    },
    {
      "parameters": {
        "jsCode": "const payload = $input.first().json;\nconst deal = payload.properties || payload;\n\nconst stageMapping = {\n  'appointmentscheduled': { name: 'RDV Planifié', emoji: ':calendar:', color: '#3498db' },\n  'qualifiedtobuy': { name: 'Qualifié', emoji: ':star:', color: '#9b59b6' },\n  'presentationscheduled': { name: 'Démo Planifiée', emoji: ':tv:', color: '#e67e22' },\n  'decisionmakerboughtin': { name: 'Décideur Convaincu', emoji: ':handshake:', color: '#27ae60' },\n  'contractsent': { name: 'Contrat Envoyé', emoji: ':page_facing_up:', color: '#f39c12' },\n  'closedwon': { name: 'Gagné', emoji: ':trophy:', color: '#2ecc71' },\n  'closedlost': { name: 'Perdu', emoji: ':x:', color: '#e74c3c' }\n};\n\nconst stage = stageMapping[deal.dealstage] || { name: deal.dealstage, emoji: ':gear:', color: '#95a5a6' };\n\nreturn [{\n  json: {\n    dealId: deal.hs_object_id || payload.objectId,\n    dealName: deal.dealname,\n    amount: deal.amount || 0,\n    stage: stage,\n    owner: deal.hubspot_owner_id,\n    company: deal.company || 'Non spécifié',\n    closeDate: deal.closedate,\n    previousStage: payload.previousStage || null,\n    isWon: deal.dealstage === 'closedwon',\n    isLost: deal.dealstage === 'closedlost'\n  }\n}];"
      },
      "id": "parse-deal",
      "name": "Parse Deal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-won",
              "leftValue": "={{ $json.isWon }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-won",
      "name": "Is Won?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 150]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-lost",
              "leftValue": "={{ $json.isLost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-lost",
      "name": "Is Lost?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 450]
    },
    {
      "parameters": {
        "channel": "#wins",
        "text": ":trophy: *DEAL GAGNÉ!* :tada:\n\n*{{ $json.dealName }}*\n\n:moneybag: Montant: *{{ $json.amount.toLocaleString('fr-FR') }}€*\n:office: Client: {{ $json.company }}\n\nFélicitations à l'équipe! :clap:",
        "attachments": [],
        "otherOptions": {}
      },
      "id": "slack-won",
      "name": "Celebrate Win",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 150],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#sales",
        "text": ":x: *Deal Perdu*\n\n*{{ $json.dealName }}*\nMontant: {{ $json.amount.toLocaleString('fr-FR') }}€\nClient: {{ $json.company }}\n\nAnalyse à faire pour comprendre les raisons."
      },
      "id": "slack-lost",
      "name": "Notify Lost",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [850, 450],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "channel": "#sales",
        "text": "{{ $json.stage.emoji }} *Deal Update*\n\n*{{ $json.dealName }}* → *{{ $json.stage.name }}*\n\nMontant: {{ $json.amount.toLocaleString('fr-FR') }}€\nClient: {{ $json.company }}"
      },
      "id": "slack-update",
      "name": "Notify Stage Change",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "slackApi": {
          "id": "slack-creds",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": "={{ $env.NOTION_DEALS_LOG_DB }}",
        "properties": {
          "Deal": { "title": [{ "text": { "content": "={{ $json.dealName }}" } }] },
          "Stage": { "select": { "name": "={{ $json.stage.name }}" } },
          "Amount": { "number": "={{ $json.amount }}" },
          "Company": { "rich_text": [{ "text": { "content": "={{ $json.company }}" } }] },
          "Updated At": { "date": { "start": "={{ new Date().toISOString() }}" } }
        }
      },
      "id": "notion-log",
      "name": "Log to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [850, 300],
      "credentials": {
        "notionApi": {
          "id": "notion-creds",
          "name": "Notion API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Deal Stage Notifier\n\n**Objectif:** Notifie l'équipe des changements de stage des deals\n\n**Flow:**\n1. Webhook HubSpot lors de changement de deal\n2. Parse et enrichit les données\n3. Route selon le nouveau stage:\n   - Won → Célébration channel #wins\n   - Lost → Notification #sales\n   - Autre → Update standard\n4. Log dans Notion\n\n**Configuration HubSpot:**\n1. Settings → Integrations → Webhooks\n2. Créer webhook pour Deal Stage Change\n3. URL: votre URL n8n\n\n**Credentials requis:**\n- Slack API\n- Notion API"
      },
      "id": "sticky-doc",
      "name": "Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [50, 100]
    }
  ],
  "connections": {
    "HubSpot Deal Webhook": {
      "main": [[{ "node": "Parse Deal Data", "type": "main", "index": 0 }]]
    },
    "Parse Deal Data": {
      "main": [
        [
          { "node": "Is Won?", "type": "main", "index": 0 },
          { "node": "Is Lost?", "type": "main", "index": 0 },
          { "node": "Notify Stage Change", "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Won?": {
      "main": [[{ "node": "Celebrate Win", "type": "main", "index": 0 }]]
    },
    "Is Lost?": {
      "main": [[{ "node": "Notify Lost", "type": "main", "index": 0 }]]
    },
    "Notify Stage Change": {
      "main": [[{ "node": "Log to Notion", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "commercial" },
    { "name": "sales-pipeline" },
    { "name": "notifications" }
  ],
  "meta": {
    "instanceId": ""
  }
}
