workflows/finance/invoicing/Payment_Reminder_Sequence.json
{
  "name": "Payment Reminder Sequence",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "days", "triggerAtHour": 9 }] } },
      "id": "schedule", "name": "Daily 9h", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "query", "databaseId": "={{ $env.NOTION_INVOICES_DB }}",
        "filterJson": "{ \"and\": [{ \"property\": \"Status\", \"select\": { \"equals\": \"Sent\" } }, { \"property\": \"Due Date\", \"date\": { \"on_or_before\": \"{{ new Date().toISOString().split('T')[0] }}\" } }] }"
      },
      "id": "get-overdue", "name": "Get Overdue Invoices", "type": "n8n-nodes-base.notion", "typeVersion": 2.1, "position": [450, 300],
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "parameters": {
        "jsCode": "const invoices = $input.all().map(i => i.json);\nconst today = new Date();\n\nreturn invoices.map(inv => {\n  const dueDate = new Date(inv.properties['Due Date']?.date?.start);\n  const daysOverdue = Math.floor((today - dueDate) / (1000 * 60 * 60 * 24));\n  const reminderLevel = daysOverdue <= 7 ? 1 : daysOverdue <= 14 ? 2 : 3;\n  \n  return {\n    json: {\n      invoiceId: inv.id,\n      number: inv.properties.Number?.title?.[0]?.plain_text,\n      client: inv.properties.Client?.rich_text?.[0]?.plain_text,\n      clientEmail: inv.properties.Email?.email,\n      amount: inv.properties.Amount?.number,\n      dueDate: inv.properties['Due Date']?.date?.start,\n      daysOverdue,\n      reminderLevel\n    }\n  };\n});"
      },
      "id": "prepare-reminders", "name": "Prepare Reminders", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [650, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "list", "value": "claude-sonnet-4-20250514" },
        "messages": { "values": [{ "content": "Rédige un email de relance pour facture impayée:\n\nFacture: {{ $json.number }}\nMontant: {{ $json.amount }}€\nÉchéance: {{ $json.dueDate }}\nJours de retard: {{ $json.daysOverdue }}\nNiveau relance: {{ $json.reminderLevel }}\n\nNiveau 1: Rappel amical\nNiveau 2: Relance formelle\nNiveau 3: Mise en demeure\n\nRetourne JSON: { \"subject\": \"...\", \"body\": \"...\" }" }] },
        "options": { "maxTokens": 500 }
      },
      "id": "claude-email", "name": "Generate Reminder", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [850, 300],
      "credentials": { "anthropicApi": { "id": "anthropic-creds", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "fromEmail": "facturation@mywai.fr",
        "toEmail": "={{ $('Prepare Reminders').item.json.clientEmail }}",
        "subject": "={{ JSON.parse($json.message.content).subject }}",
        "html": "={{ JSON.parse($json.message.content).body }}"
      },
      "id": "send-reminder", "name": "Send Reminder", "type": "n8n-nodes-base.emailSend", "typeVersion": 2.1, "position": [1050, 300],
      "credentials": { "smtp": { "id": "smtp-creds", "name": "SMTP" } }
    },
    {
      "parameters": {
        "channel": "#finance", "text": ":warning: *Relances envoyées*\n\n{{ $('Prepare Reminders').all().length }} factures relancées\nTotal impayé: {{ $('Prepare Reminders').all().reduce((s,i) => s + i.json.amount, 0) }}€"
      },
      "id": "slack-summary", "name": "Summary", "type": "n8n-nodes-base.slack", "typeVersion": 2.1, "position": [1250, 300],
      "credentials": { "slackApi": { "id": "slack-creds", "name": "Slack API" } }
    }
  ],
  "connections": {
    "Daily 9h": { "main": [[{ "node": "Get Overdue Invoices", "type": "main", "index": 0 }]] },
    "Get Overdue Invoices": { "main": [[{ "node": "Prepare Reminders", "type": "main", "index": 0 }]] },
    "Prepare Reminders": { "main": [[{ "node": "Generate Reminder", "type": "main", "index": 0 }]] },
    "Generate Reminder": { "main": [[{ "node": "Send Reminder", "type": "main", "index": 0 }]] },
    "Send Reminder": { "main": [[{ "node": "Summary", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "finance" }, { "name": "invoicing" }, { "name": "reminder" }]
}
