workflows/finance/reporting/Monthly_Financial_Report.json
{
  "name": "Monthly Financial Report",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "months", "triggerAtDay": 1, "triggerAtHour": 8 }] } },
      "id": "schedule", "name": "1st of Month", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [250, 300]
    },
    {
      "parameters": { "operation": "query", "databaseId": "={{ $env.NOTION_INVOICES_DB }}" },
      "id": "get-invoices", "name": "Get Invoices", "type": "n8n-nodes-base.notion", "typeVersion": 2.1, "position": [450, 200],
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "parameters": { "operation": "query", "databaseId": "={{ $env.NOTION_EXPENSES_DB }}" },
      "id": "get-expenses", "name": "Get Expenses", "type": "n8n-nodes-base.notion", "typeVersion": 2.1, "position": [450, 400],
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "parameters": {
        "jsCode": "const invoices = $('Get Invoices').all().map(i => i.json);\nconst expenses = $('Get Expenses').all().map(e => e.json);\n\nconst lastMonth = new Date();\nlastMonth.setMonth(lastMonth.getMonth() - 1);\nconst monthStr = lastMonth.toISOString().slice(0, 7);\n\nconst monthInvoices = invoices.filter(i => i.properties['Due Date']?.date?.start?.startsWith(monthStr));\nconst monthExpenses = expenses.filter(e => e.properties.Date?.date?.start?.startsWith(monthStr));\n\nconst revenue = monthInvoices.reduce((s, i) => s + (i.properties.Amount?.number || 0), 0);\nconst paid = monthInvoices.filter(i => i.properties.Status?.select?.name === 'Paid').reduce((s, i) => s + (i.properties.Amount?.number || 0), 0);\nconst totalExpenses = monthExpenses.reduce((s, e) => s + (e.properties.Amount?.number || 0), 0);\n\nconst byCategory = monthExpenses.reduce((acc, e) => {\n  const cat = e.properties.Category?.select?.name || 'Autre';\n  acc[cat] = (acc[cat] || 0) + (e.properties.Amount?.number || 0);\n  return acc;\n}, {});\n\nreturn [{ json: { month: monthStr, revenue, paid, unpaid: revenue - paid, expenses: totalExpenses, profit: paid - totalExpenses, byCategory } }];"
      },
      "id": "calculate", "name": "Calculate Metrics", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [650, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "mode": "list", "value": "claude-sonnet-4-20250514" },
        "messages": { "values": [{ "content": "Génère un rapport financier mensuel:\n\n{{ JSON.stringify($json, null, 2) }}\n\nStructure:\n1. Résumé exécutif\n2. Revenus (facturé vs encaissé)\n3. Dépenses par catégorie\n4. Marge\n5. Points d'attention\n6. Recommandations\n\nFormat: Markdown professionnel" }] },
        "options": { "maxTokens": 1500 }
      },
      "id": "claude-report", "name": "Generate Report", "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic", "typeVersion": 1.2, "position": [850, 300],
      "credentials": { "anthropicApi": { "id": "anthropic-creds", "name": "Anthropic API" } }
    },
    {
      "parameters": {
        "operation": "create", "databaseId": "={{ $env.NOTION_REPORTS_DB }}",
        "properties": { "Title": { "title": [{ "text": { "content": "Rapport Financier {{ $('Calculate Metrics').first().json.month }}" } }] }, "Type": { "select": { "name": "Financial" } } },
        "blockContent": "={{ $json.message.content }}"
      },
      "id": "notion-save", "name": "Save Report", "type": "n8n-nodes-base.notion", "typeVersion": 2.1, "position": [1050, 300],
      "credentials": { "notionApi": { "id": "notion-creds", "name": "Notion API" } }
    },
    {
      "parameters": { "channel": "#finance", "text": ":chart_with_upwards_trend: *Rapport Financier {{ $('Calculate Metrics').first().json.month }}*\n\n{{ $('Generate Report').first().json.message.content }}" },
      "id": "slack-report", "name": "Post Report", "type": "n8n-nodes-base.slack", "typeVersion": 2.1, "position": [1250, 300],
      "credentials": { "slackApi": { "id": "slack-creds", "name": "Slack API" } }
    }
  ],
  "connections": {
    "1st of Month": { "main": [[{ "node": "Get Invoices", "type": "main", "index": 0 }, { "node": "Get Expenses", "type": "main", "index": 0 }]] },
    "Get Invoices": { "main": [[{ "node": "Calculate Metrics", "type": "main", "index": 0 }]] },
    "Get Expenses": { "main": [[{ "node": "Calculate Metrics", "type": "main", "index": 0 }]] },
    "Calculate Metrics": { "main": [[{ "node": "Generate Report", "type": "main", "index": 0 }]] },
    "Generate Report": { "main": [[{ "node": "Save Report", "type": "main", "index": 0 }]] },
    "Save Report": { "main": [[{ "node": "Post Report", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "finance" }, { "name": "reporting" }, { "name": "ai" }]
}
