workflows/examples/Google_Calendar_AI_Agent.json
{
  "id": "google-calendar-ai-agent",
  "meta": { "instanceId": "n8n-template-google-calendar" },
  "name": "AI Agent : Assistant Google Calendar avec OpenAI",
  "tags": ["ai-agent", "google-calendar", "openai"],
  "nodes": [
    {
      "id": "chat-trigger",
      "name": "Réception Message Chat",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [-280, 0],
      "parameters": { "options": {} },
      "typeVersion": 1.1
    },
    {
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [160, 820],
      "parameters": { "model": "gpt-4o", "options": {} },
      "credentials": { "openAiApi": { "id": "", "name": "OpenAi" } },
      "typeVersion": 1
    },
    {
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [580, 820],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "get-events",
      "name": "Google Calendar - Récupérer Événements",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [960, 800],
      "parameters": {
        "options": {
          "timeMax": "={{ $fromAI('end_date') }}",
          "timeMin": "={{ $fromAI('start_date') }}"
        },
        "calendar": { "__rl": true, "mode": "list", "value": "" },
        "operation": "getAll",
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outil pour récupérer les événements du calendrier."
      },
      "typeVersion": 1.2
    },
    {
      "id": "create-events",
      "name": "Google Calendar - Créer Événements",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [1380, 800],
      "parameters": {
        "end": "={{ $fromAI('end_date') }}",
        "start": "={{ $fromAI('start_date') }}",
        "calendar": { "__rl": true, "mode": "list", "value": "" },
        "descriptionType": "manual",
        "toolDescription": "Utilise cet outil pour créer un événement dans le calendrier.",
        "additionalFields": {
          "summary": "={{ $fromAI('event_title') }}",
          "description": "={{ $fromAI('event_description') }}"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "ai-agent",
      "name": "Agent IA Calendrier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [580, 0],
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Tu es un assistant Google Calendar.\nTon objectif est d'aider l'utilisateur à gérer son calendrier.\nDate actuelle: {{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\n\nOutils disponibles:\n- Création d'événement\n- Récupération d'événements\n\nFormat de date: YYYY-MM-DD HH:mm:ss"
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "note-intro",
      "name": "Note - Introduction",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-380, -380],
      "parameters": {
        "color": 7,
        "width": 320,
        "height": 560,
        "content": "## Déclencheur Chat\n\nCe nœud est le **point d'entrée** du workflow.\nIl se déclenche lorsqu'un message est envoyé à l'interface de chat."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": { "timezone": "Europe/Paris", "executionOrder": "v1" },
  "connections": {
    "Réception Message Chat": { "main": [[{ "node": "Agent IA Calendrier", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "Agent IA Calendrier", "type": "ai_languageModel", "index": 0 }]] },
    "Window Buffer Memory": { "ai_memory": [[{ "node": "Agent IA Calendrier", "type": "ai_memory", "index": 0 }]] },
    "Google Calendar - Récupérer Événements": { "ai_tool": [[{ "node": "Agent IA Calendrier", "type": "ai_tool", "index": 0 }]] },
    "Google Calendar - Créer Événements": { "ai_tool": [[{ "node": "Agent IA Calendrier", "type": "ai_tool", "index": 0 }]] }
  }
}